# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store

pkg/
tmp/
doc/
.DS_Store
Gemfile.lock

*.bak
*.~
*.log
log/
logs/

rsyntaxtree/bin/rsync_code
rsyntaxtree/bin/linktree.rb
tags
.tags
.rubocop.yml
.rubocop_todo.yml
.solargraph.yml

